@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('Poppins-ExtraBold.eot');
    src: local('☺'), url('Poppins-ExtraBold.woff') format('woff'), url('Poppins-ExtraBold.ttf') format('truetype'), url('Poppins-ExtraBold.svg') format('svg'), url('Poppins-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('Poppins-Medium.eot');
    src: local('☺'), url('Poppins-Medium.woff') format('woff'), url('Poppins-Medium.ttf') format('truetype'), url('Poppins-Medium.svg') format('svg'),
    url('Poppins-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.eot');
    src: local('☺'), url('Poppins-Regular.woff') format('woff'), url('Poppins-Regular.ttf') format('truetype'), url('Poppins-Regular.svg') format('svg'),
    url('Poppins-Regular.eot') format('opentype'), url('Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('Poppins-SemiBold.eot');
    src: local('☺'), url('Poppins-SemiBold.woff') format('woff'), url('Poppins-SemiBold.ttf') format('truetype'), url('Poppins-SemiBold.svg') format('svg'), url('Poppins-SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('Poppins-Light.eot');
    src: local('☺'), url('Poppins-Light.woff') format('woff'), url('Poppins-Light.ttf') format('truetype'), url('Poppins-Light.svg') format('svg'), url('Poppins-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('Rubik-Medium.eot');
    src: local('☺'), url('Rubik-Medium.woff') format('woff'), url('Rubik-Medium.ttf') format('truetype'), url('Rubik-Medium.svg') format('svg'), url('Rubik-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins-Bold.eot');
    src: local('☺'), url('Poppins-Bold.woff') format('woff'), url('Poppins-Bold.ttf') format('truetype'), url('Poppins-Bold.svg') format('svg'), url('Poppins-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('Rubik-Bold.eot');
    src: local('☺'), url('Rubik-Bold.woff') format('woff'), url('Rubik-Bold.ttf') format('truetype'), url('Rubik-Bold.svg') format('svg'), url('Rubik-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('Rubik-Regular.eot');
    src: local('☺'), url('Rubik-Regular.woff') format('woff'), url('Rubik-Regular.ttf') format('truetype'), url('Rubik-Regular.svg') format('svg'), url('Rubik-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}












